{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Edition d'une catégorie
{% endblock %}

{% block body %}

    <h2 class="welcome">Editer une catégorie</h2>

    <div class="col-8 m-auto">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.categoryName, null, {'label': 'Nom de la catégorie' }) }}
                {{ form_errors(form.categoryName) }}
                {{ form_widget(form.categoryName, {'attr': {'placeholder': 'Nom de la catégorie'}}) }}
            </div>
            <button class="btn btn-info mb-5" type="submit" id="_submit">Editer</button>
			<a class="btn btn-secondary mb-5" href="{{ path('tags') }}">Retour Catégories</a>
        {{ form_end(form) }}
    </div>


{% endblock %}
